:root {
  --font-size: initial;
  --radio-color: #333;
}

.radio.radio {
  align-items: normal;
  color: var(--wc-poll-radio-color, var(--concrete, var(--radio-color)));
  font-size: var(--wc-poll-font-size, var(--font-size));
}

.label.label {
  font-size: var(--wc-poll-variant-radio-font-size, inherit);
  margin-left: 10px;
}

input[type="radio"] ~ svg {
  cursor: pointer;
  height: 20px;
  outline: none;
  top: 0;
  width: 20px;
}

/* redefine ui kit filling */

.radio.radio svg:nth-child(2) path {
  fill: var(--white, #fff);
}

.radio.radio svg:nth-child(3) path {
  fill: var(--pictonBlue, #48a1e6);
}

.radio.radio svg:nth-child(3) path:last-child {
  fill: var(--white, #fff);
}

/* eof redefine */

input[type="radio"] ~ svg:nth-child(3) {
  display: none;
}

input[type="radio"]:hover ~ svg:nth-child(2),
input[type="radio"]:checked ~ svg:nth-child(3) {
  filter: drop-shadow(0 4px 4px rgba(72, 161, 230, 0.2));
}

/* stylelint-disable-next-line no-descending-specificity */
input[type="radio"]:hover ~ svg:nth-child(2) path {
  stroke: var(--pictonBlue, #48a1e6);
}

input[type="radio"]:checked ~ svg:nth-child(2) {
  display: none;
}

input[type="radio"]:checked ~ svg:nth-child(3) {
  display: inline;
}
