:root {
  --font-size: initial;
  --line-height: 1.2em;
  --font-size: initial;
  --min-width: 400px;
  --text-size: 1em;
}

.poll {
  background: var(--wc-poll-bg-color, var(--white, #fff));
  border: var(--wc-poll-border, 1px solid var(--wc-poll-border-color, var(--mercury, #e9e9e9)));
  border-radius: 5px;
  display: block;
  font-size: var(--wc-poll-font-size, var(--font-size));
  margin: var(--wc-poll-margin, initial);
  min-width: var(--wc-poll-min-width, var(--min-width));
  padding: 20px;
  position: relative;
}

.edit {
  border: var(--wc-poll-border-edit, 1px dashed var(--wc-poll-edit-border-color, var(--persimmon, #ff7256)));
}

.actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.actions > * {
  cursor: pointer;
}

.image,
.content {
  display: inline-block;
  vertical-align: top;
}

.image {
  user-select: none;
}

.content {
  margin-left: 24px;
  width: 80%;
}

.question {
  font-weight: bold;
  margin-bottom: 20px;
}

.text,
.aftertext {
  color: var(--wc-poll-text-color, var(--mineShaft, #333));
  font-size: var(--wc-poll-text-size, var(--text-size));
  line-height: var(--wc-poll-line-height, var(--line-height));
  padding-bottom: 3px;
  position: relative;
  z-index: 100;
}

.aftertext {
  font-weight: var(--wc-poll-result-aftertext-font-weight, 100);
  position: absolute;
  right: 16px;
  top: 9px;
}

.text {
  font-weight: var(--wc-poll-result-text-font-weight, normal);
  margin-left: 20px;
  margin-right: 70px;
  margin-top: 8px;
}

.text.active,
.aftertext.active {
  color: var(--wc-poll-result-color-active, var(--mineShaft, #333));
}

.aftertext.active {
  font-weight: var(--wc-poll-result-aftertext-font-weight-active, initial);
}

.text.active {
  font-weight: var(--wc-poll-result-text-font-weight-active, initial);
}

.text.selected,
.aftertext.selected {
  color: var(--wc-poll-result-color-selected, var(--curiousBlue, #258cdc));
}

.aftertext.selected {
  font-weight: var(--wc-poll-result-aftertext-font-weight-selected, initial);
}

.text.selected {
  font-weight: var(--wc-poll-result-text-font-weight-selected, initial);
}
